@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="text-center">
        <h1>Welcome to Mountain Guide</h1>
    </div>
    <div class="container-fluid m-4">
        <div class="text-center">
            <h2>Recently added:</h2>
        </div>
        <div class="row justify-content-center gx-5 ">
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Announcements
                </article>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Announcement: 3
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Tourist buildins
                </article>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Tourist buildins: 3
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Mountains
                </article>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Mountains: 3
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Peaks
                </article>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Peaks: 3
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
