html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*img.header {
    opacity: 0.5;
    height: 50%
}

img.gallery {
    display: block;
    background: transparent;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px #999;
}*/
#map {
    width: 100vw;
    height: 100vh;
}
.galleria {
    width: 700px;
    height: 400px;
    background: rgb(255,255,255);
    box-shadow: 10px 10px 10px #999;
    border: 1px solid #ccc;
}
